extends layout

block content
  h1 Universities Admission System
  p.lead
    | Please signup to apply in university
    br
    | You can upload your documents here and apply to Universties.

  if user
    .alert.alert-success.animated.flipInX
      i.fa.fa-check
      strong Success!
      |  You are logged in.
